<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>this is the results page</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Here is what we found about <span style="font-style: oblique;"><%= query %></span></h1>
        <p class="lead">If you want more details as a JSON you can click on More Details under each movie</p>
        <a
                    href="http://www.localhost:3000"
                    class="btn btn-primary"
                    >New Search</a
                  >
      </div>
    </div>
    <div class="album py-5 bg-light" style="display: inline;">
      <div class="container">
        <div class="row">
          <% data['Search'].forEach((movie) => { %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card" style="width: 18rem;">
                <img
                  src="<%= movie['Poster'] %>"
                  class="card-img-top img-thumbnail"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><%= movie['Title'] %></h5>
                  <p class="card-text">
                   Year: <%= movie['Year'] %>
                    <br />
                   Type: <%= movie['Type'] %>
                  </p></p>>
                  <a
                    href="http://www.omdbapi.com/?i=<%= movie['imdbID'] %>&apikey=thewdb"
                    class="btn btn-primary"
                    >More Details</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
